server:
  port: 5555
management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info
  health:
    probes:
      enabled: true
spring:
  application:
    name: CCD Test Stubs Services
  cloud:
    discovery:
      client:
        composite-indicator:
          enabled: false

wiremock:
  server:
    host: localhost
    mappings-path: ${WIREMOCK_SERVER_MAPPINGS_PATH:wiremock}

logging:
  level:
    root: INFO
    org.springframework.web: WARN
    com.github.tomakehurst: INFO

app:
  management-web-url: ${MANAGEMENT_WEB_URL:http://localhost:3451}
  secret-key: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  jwt:
    issuer: http://fr-am:8080/openam/oauth2/hmcts
    expiration: 14400000 # milliseconds 4 hours
